body
{
	background: pink;
	text-align: left;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		margin: 50px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#number, #number1
{
	width: 60%;
	margin: 20px;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #940dbd;
padding: 10px;
float: none;
text-align: left;
}
#login_btn{
	width: 40%;
}
.user{
	width: 30px;
	height: 30px;
}
#Player1, #Player2{
	height: 30px;
}
#C, #W{
	width: 60%;
	height: 50px;
	font-size: 45px;
}